<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Irish+Grover&family=Love+Ya+Like+A+Sister&family=Nunito&family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Irish+Grover&family=Love+Ya+Like+A+Sister&family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="icon" href="/assets/pngegg.png">
    <title>NBook</title>
</head>
    <div class="nav-box">
        <div class="Wab-logo-name">
            <a href="/">Book Note Reviewer Library</a>
        </div>
        <a href="/addbooks" id="Add-review-book-bottom">ADD Book Review</a>
        <nav id="home-menu">
            <ul class="nav__links">
                <li>
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>