<%- include('partials/header.ejs'); -%>

<body>
    <div class="AboutDisplay">
        <div class="responsive-container-block bigContainer">
            <div class="responsive-container-block Container bottomContainer">
              <div class="allText bottomText">
                <p class="text-blk headingText">
                  About
                </p>
                <p class="text-blk subHeadingText">
                  We build to your bespoke
                </p>
                <p class="text-blk description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fermentum pulvinar ullamcorper suspendisse ac eget. Pellentesque tempus leo in ullamcorper quis vestibulum ligula elementum ut. Congue in dignissim tincidunt ut dolor eu. Mi, eget posuere vitae sed purus nisl lorem.
                </p>
                <a>
                  <button class="explore">
                    View More
                  </button>
                </a>
              </div>
              <div class="videoContainer">
                <iframe allowfullscreen="allowfullscreen" class="mainVideo" controls="controls" src="https://www.youtube.com/embed/dQw4w9WgXcQ">
                </iframe>
                <img class="dotsImg image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/cw3.svg">
              </div>
            </div>
        </div>

        <%- include('partials/footer.ejs'); -%>
    </div>
</body>



